<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba 1 UD9</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="marcado"> Marca y desmarca
        <p v-if="marcado">
            El checkbox está marcado
        </p>
        <p v-else>
            El checkbox está desmarcado
        </p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="PRUEBA_1_UD09.js"></script>
</body>
</html>